.home {
    .card {
        background-color: #fff;
        border-radius: 0;
        padding: 10px 0;

        h3 {
            padding: 0 15px;
            margin: 0;
            margin-bottom: 5px;
        }

        .name-filter {
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 10px 15px;
            border-top: 4px solid #f1f1f1;
            border-bottom: 4px solid #f1f1f1;
        }

        .stars-filter {
            padding: 0 15px;
        }

        form {
            input {
                border-radius: 0;
                padding: 7px;

                &[type="checkbox"] {
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }

            .yellow-star {
                fill: #ffb400;
            }

            .btn {
                background-color: #012b75;
                color: #fff;
                border-radius: 2px;
            }

            label {
                color: #0064a5;
                display: block;
            }

            svg {
                width: 15px;
                fill: #0064a5;
                margin-right: 5px
            }
        }
    }

    .hotel-row {
        background-color: #fff;
        padding: 5px;
        margin-bottom: 15px;
        box-shadow: 1px 1px 3px #ccc;
        
        h3 {
            margin-bottom: 0;
            color: #0064a5;
        }

        h6 {
            font-size: 12px;
        }

        .btn {
            background-color: #012b75;
            color: #fff;
            border-radius: 2px;
        }

        .price-container {
            display: table;
            height: 100%;
            padding: 0 20px;
            border-left: 1px dashed gray;

            .price-container-center {
                display: table-cell;
                vertical-align: middle;
            }

            .price {
                color: #e36613;
                font-size: 22px;

                .price-number {
                    font-size: 28px;
                    font-weight: bold
                }
            }
        }

        .stars {
            margin-bottom: 10px;
        }

        svg {
            width: 20px;
            fill: #ffb400;
        }

        .amenities {
            width: 20px;
            margin-right: 7px;
        }
    }
}

@media screen and (max-width: 991px) {
    .home {
        .card {
            h3 {
                margin-bottom: 0;
            }

            form {
                input {
                    margin-bottom: 10px;
                }
            }
        }

        .hotel-row {
            padding: 5px 5px 25px;

            .hotel-image {
                margin: auto;
                display: block;
                margin-bottom: 10px;
            }

            h3 {
                margin-bottom: 5px;
            }

            .stars {
                margin-bottom: 10px;
            }

            .price-container {
                display: block;
                border-top: 1px dashed gray;
                border-left: 0;
                text-align: center;
                margin-top: 20px;
                padding-top: 20px;

                .price-container-center {
                    display: block;
                }
            }
        }

        .filter-card {
            margin-bottom: 20px;
        }
    }

    .no-pad-left {
        padding-left: 15px;
    }

    .no-pad-right {
        padding-right: 15px;
    }
}